@using blog.Models
@model List<Blog>

@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                    @await Component.InvokeAsync("SliderOne")
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Kategoriler</h3>
                </div>
                @await Component.InvokeAsync("CategoryListOne")
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-3">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
            <h3 class="m-0">Bloglar</h3>
        </div>
        <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
            @await Component.InvokeAsync("SliderTwo")
        </div>
    </div>
</div>