@using blog.Models
@model List<Category>

@foreach (var a in Model)
{
    <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
        <img class="img-fluid w-100 h-100" src="~/Resimler/Category/@a.ResimYol" style="object-fit: cover;">
        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
            @a.Baslik
        </a>
    </div>
}